# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Web apps
node_modules
dist
dist-ssr
*.local

# Tauri / Rust
src-tauri/target
src-tauri/gen_hash.rs

# Database
*.db
*.sqlite
*.sqlite3
*-journal
*-wal
*-shm

# Environment & Sensitive
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
